/* page */

@font-face {
	font-family: 'OpenSans';
	src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff');
	font-weight: 600;
	font-style: bold;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	width: 100%;
	margin: 0;
	font-family: 'OpenSans';
}

h1 {
	font-size: 45px;
	line-height: 75px;
}

h2,
h3 {
	font-size: 20px;
	margin: 0;
}


/* page */


/* header */

.header {
	min-height: 450px;
	margin-bottom: 60px;

	background-color: #699999;
	background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	text-transform: uppercase;
	color: #fff;

	position: relative;

	z-index: 0;
}

.header::after {
	content: "";
	position: absolute;
	background-color: #000;
	opacity: 0.6;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	z-index: -1;
}

.container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	padding: 35px 15px 0;
}

.logo {
	width: 200px;
}

.header_nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 13px;
}

.nav {
	display: flex;
	align-items: center;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.nav_item {
	display: block;
}

.nav_item,
.nav_pupup:nth-child(n+2) {
	margin-left: 30px;
}

.nav_link {
	text-decoration: none;
	color: inherit;
}

.nav_link:hover {
	text-decoration: underline;
}

.container_menu {
	display: flex;
	align-items: center;
}

.menu_button {
	width: 30px;
	height: 22px;
	border: none;
	background-color: transparent;

	position: relative;

	cursor: pointer;
}

.menu_button:hover {
	transition: 0.3s;
	transform: scale(1.12);
}

.menu_button:before,
.menu_button:after {
	content: "";
	width: 100%;
	height: 17%;

	border-radius: 5px;
	background-color: #ffffff;

	position: absolute;
	left: 0;
}

.menu_button:before {
	top: 0;
}

.menu_button:after {
	bottom: 0;
}

.menu_button_label {
	width: 100%;
	height: 17%;
	margin-top: -2px;

	border-radius: 5px;
	background-color: #ffffff;

	position: absolute;
	left: 0;
	top: 50%;
}

.header_title {
	max-width: 685px;
	margin: 80px auto 20px;
	padding: 15px;
	text-align: center;
}

/* header */


/* content */

.content_title {
	display: flex;
	justify-content: center;
	margin-bottom: 45px;

	position: relative;
}

.content_title::after {
	content: '____';
	font-size: 40px;
	opacity: 0.5;
	color: #b59f5b;

	position: absolute;
	top: -12px;
}

.content_title_item {
	margin-top: 0;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

/* content */


/* trends */

.trends {
	display: flex;
}

.trends_section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	position: relative;

	z-index: 0;
}

.trends_section:after {
	content: "";
	position: absolute;
	background-color: #000;
	opacity: 0.4;

	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	z-index: -1;
}

.trends_content {
	width: 90%;
	box-sizing: border-box;
	margin: 80px auto 15px;
	padding: 15px 35px 25px 25px;
	border: 2px solid #b59f5b;
}

.trends_img {
	background-color: #699999;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.trends_img1 {
	background-image: url('https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/trend1.jpg');
}

.trends_img2 {
	background-image: url('https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/trend2.jpg');
}

.trends_img3 {
	background-image: url('https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/trend3.jpg');
}

.trends_img4 {
	background-image: url('https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/trend4.jpg');
}

.trends_category {
	display: flex;
	flex-wrap: wrap;

	margin-bottom: 7px;
	padding: 0;

	list-style: none;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	color: #b59f5b;
}

.trends_category_item:nth-child(n+1) {
	padding-right: 15px;
}

.trends_category_link {
	text-decoration: none;
	color: inherit;
}

.trends_category_link:hover {
	text-decoration: underline;
}

.trends_title {
	display: block;

	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	line-height: 17px;

	transition: 0.4s;
}

.trends_title:hover {
	color: #b59f5b;
}

/* trends */


/* main/aside */

.wrap_section {
	max-width: 1170px;
	display: flex;
	justify-content: space-between;

	padding: 0 15px;
	margin: 60px auto;
}

/* main */

.main {
	display: flex;
	box-sizing: border-box;
}

.post {
	margin-right: 30px;
}

.post_item {
	display: flex;
}

.post_item:nth-child(-n+4) {
	margin-bottom: 60px;
}

.post_item_img {
	width: 100%;
	display: block;
}

.post_article {
	width: 42%;
	margin-left: 30px;
}

.post_article_header {
	margin-bottom: 38px;
}

.post_aritcle_category {

	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #b59f5b;
}

.aritcle_category_item:nth-child(n+1) {
	padding-right: 20px;
}

.article_category_link {
	text-decoration: none;
	color: inherit;
}

.article_category_link:hover {
	text-decoration: underline;
}

.article_title {
	display: block;
	margin: 5px 0 25px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;

	transition: 0.4s;
}

.article_title:hover {
	color: #b59f5b;
}

.article_time,
.article_frame {
	display: inline-block;
	font-size: 12px;
}

.article_time {
	color: #808080;
}

.article_frame {
	margin-left: 15px;
	font-weight: bold;
	color: #000;
}

p {
	font-size: 15px;
	line-height: 1.5;
}

/* main */

/* aside bar */

.aside_post {
	width: 272px;
}

.aside_post:nth-child(n+2) {
	margin-top: 60px;
}

.aside_post_header {
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 45px;
}

.aside_post_header::after {
	content: '____';
	font-size: 40px;
	opacity: 0.5;
	color: #b59f5b;

	position: absolute;
	top: -17px;
}

.aside_post_name {
	margin-top: 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.aside_section {
	display: flex;
}

.aside_section:nth-child(n+2) {
	margin-top: 22px;
}

.aside_item_img {
	min-width: 70px;
	min-height: 70px;
	margin-right: 15px;
}

.aside_time,
.aside_title {
	display: block;
	color: #000;
}

.aside_time {
	font-size: 12px;
	line-height: 18px;
	opacity: 0.5;
	margin: 0;
}

.aside_title {
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.4s;
}

h5 {
	font-size: 14px;
	margin: 0;
}

.aside_title:hover {
	color: #b59f5b;
}

/* search/e-mail*/

.search {
	position: relative;
}

.field_search,
.field_e-mail {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	padding: 20px;
	vertical-align: middle;

	border: 2px solid #f4f7f6;
	background-color: #f4f7f6;
	font-family: inherit;
	font-size: 13px;
	opacity: 0.6;
}

input:focus {
	outline: none;
	border-color: #b59f5b;
}

.search_button {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;

	border: 2px solid #b59f5b;
	background-color: #b59f5b;
	background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/search.svg');
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: center;

	transition: 0.4s;

	cursor: pointer;
}

.search_button:hover,
.e-mail_button:hover {
	background-color: #d0b76b;
	border: 2px solid #d0b76b;
}

.e-mail_button {
	width: 100%;
	height: 50px;

	margin-top: 15px;
	border: 2px solid #b59f5b;

	background-color: #b59f5b;
	font-family: inherit;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;

	transition: 0.4s;

	cursor: pointer;
}

/* search/e-mail*/

/* tags */

.tags {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;
}

.tags_item {
	display: block;
	margin-top: 5px;
	margin-right: 5px;
	border: 2px solid #f4f7f6;
	padding: 5px 13px;

	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;

	cursor: pointer;
}

.tags_item:hover {
	color: #b59f5b;
	border: 2px solid #d0b76b;
}

.tags_item_link {
	text-decoration: none;
	color: inherit;
}

/* tags */

/* catigories */

.catigories {
	padding: 0;
	margin: 0;
}

.catigories_item {
	display: flex;
	padding-bottom: 13px;
	border-bottom: 2px solid #f4f7f6;
}

.catigories_item:nth-child(n+2) {
	padding-top: 10px;
}

.catigories_item:hover {
	color: #b59f5b;
}

.catigories_link {
	text-decoration: none;
	font-size: 14px;
	color: inherit;
	font-weight: bold;

	transition: 0.4s;
}

.catigories_number {
	vertical-align: top;
	font-size: 12px;
	color: #b59f5b;
	font-weight: bold;
}

/* catigories */
/* aside bar */
/* main/aside */


/* shop */

.contents_shop_section {
	max-width: 1170px;

	padding: 0 15px;
	margin: 0 auto 30px;
}

.shop_title {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	margin: 5px 0;

	transition: 0.4s;
}

.shop {
	display: flex;
	flex-direction: row;
}

.shop_section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shop_img {
	width: 90%;
}

.shop_img_item {
	width: 100%;
}

.shop_content {
	border: 2px solid #b59f5b;
	padding: 50px 20px 20px;

	position: relative;
	bottom: 30px;

	flex-grow: 1;
}

.shop_title:hover {
	color: #b59f5b;
}

.shop_content_custom {
	font-size: 16px;
	margin: 0;
}

.shop_content_link {
	text-decoration: none;
	color: #b59f5b;
}

.shop_content_link:hover {
	text-decoration: underline;
}

.shop_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.shop_prices {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	font-size: 25px;
	line-height: 1;
	font-weight: 700;
}

.product_price_old {
	text-decoration: line-through;
	font-size: 15px;
	margin-bottom: 5px;
}

.shop_button {
	width: 140px;
	height: 50px;

	border: 2px solid #b59f5b;

	background-color: #b59f5b;
	font-family: inherit;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;

	transition: 0.4s;

	cursor: pointer;
}

.shop_button:hover {
	background-color: #d0b76b;
	border: 2px solid #d0b76b;
}

/* shop */


/* footer */

.article_footer {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;

	padding: 0 15px;
}

.container_footer {
	padding: 42px 0;
	background-color: #f4f7f6;
	opacity: 0.6;
}

.socials {
	display: flex;
	list-style-type: none;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.socials_item {
	transition: 0.4s;
}

.socials_item:hover {
	transform: scale(1.3);
}

.socials_item:nth-child(n+2) {
	margin-left: 30px;
}

.socials_link {
	width: 20px;
	height: 20px;
	display: flex;

	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
}

.socials_link_img1 {
	background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg');
}

.socials_link_img2 {
	background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg');
}

.socials_link_img3 {
	background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg');
}

.copy_footer {
	max-width: 1200px;
	padding-top: 73px;
	padding-bottom: 40px;
	text-align: center;
}

.copy_footer_link {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #999999;
}

.copy_footer_link:hover {
	text-decoration: underline;
}

/* footer */


/* pupup */

.nav_pupup {
	font-size: 30px;
	color: #b59f5b;

	transition: 0.4s;

	cursor: pointer;
}

.nav_pupup:hover {
	transform: scale(1.4);
}

.pupup_toggle {
	display: none;
}

.pupup_toggle:checked+.pupup {
	display: flex;
}

.pupup_close_background {
	position: relative;
	width: 100%;
	height: 100vh;
}

.pupup {
	width: 100%;
	height: 100vh;
	min-width: 330px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	padding-left: 10px;
	padding-right: 10px;

	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.7);

	display: none;
	z-index: 2;
}

.pupup_content {
	width: 383px;
	position: fixed;
	box-sizing: border-box;
	margin: 0;

	padding: 35px 30px 50px;
	background-color: #fff;
	font-family: 'OpenSans';
}

.pupup_close {
	width: 20px;
	height: 20px;
	position: absolute;
	top: -27px;
	left: 364px;
	background-size: 20px;
	background-repeat: no-repeat;

	cursor: pointer;
}

.pupup_close:hover path {
	fill: #cfcfcf;

	transition: 0.3s;
	transform: scale(0.97);
}

.pupup_title {
	position: relative;
	margin-bottom: 30px;
	text-transform: uppercase;

	display: flex;
	justify-content: center;
	align-items: center;
}

.pupup_title::after {
	content: '____';
	font-size: 40px;
	opacity: 0.5;
	color: #b59f5b;

	position: absolute;
}

.pupup_section:nth-child(n+2) {
	margin-bottom: 25px;
}

.pupup_name {
	font-size: 13px;
	line-height: 1.3;
}

.pupup_number {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	border: #f4f7f6;
	background-color: #f4f7f6;

	font-family: 'OpenSans';
}

.container_radio {
	margin-bottom: 30px;
	display: flex;
	font-size: 14px;
}

.input_group_control {
	display: none;
}

.input_group_control:checked+.inpuit_group_text::before {
	background-image: url('https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/svg/form-circle.svg');
}

.inpuit_group_text {
	margin-right: 15px;
}

.inpuit_group_text::before {
	content: "";
	display: inline-block;
	vertical-align: middle;

	width: 17px;
	height: 17px;
	margin-right: 5px;
	background-size: 15px;
	background-repeat: no-repeat;
	background-image: url('https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/svg/form-empty-circle.svg');

	cursor: pointer;
}

.pupup_text {
	width: 100%;
	height: 150px;
	padding: 20px;
	box-sizing: border-box;
	border: #f4f7f6;
	background-color: #f4f7f6;

	resize: none;
	outline: none;

	font-family: 'OpenSans';
}

.pupup_submit {
	width: 100%;
	height: 50px;
	border: 1px solid #b59f5b;

	background-color: #b59f5b;
	font-family: inherit;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;

	transition: 0.4s;

	cursor: pointer;
}

.pupup_submit:hover {
	background-color: #d0b76b;
	border: 2px solid #d0b76b;
}

/* pupup */


/* mobile first */


/* desktop */

@media (min-width: 1200px) {
	.container_menu {
		display: none;
	}

	.trends_section:nth-child(-n+3) {
		margin-right: 5px;
	}

	.shop_section:nth-child(n+2) {
		padding-left: 30px;
	}

}

/* desktop */


/* tablet */

@media (max-width: 1199px) and (min-width: 641px) {
	.header {
		background-image: url('https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/banner-bg-tablet.jpg');
	}

	.shop_section:nth-child(2n+2) {
		padding-left: 30px;
	}

	.trends_content {
		padding-left: 35px;
	}

}


@media (max-width: 1199px) {
	.header_nav {
		display: none;
	}

	.header {
		min-height: 400px;
	}

	.container {
		padding: 40px 30px 0;
	}

	.logo {
		width: 165px;
	}

	.header_title {
		max-width: 650px;
		font-size: 40px;
		line-height: 50px;
	}

	.trends {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.trends_section {
		width: 49.6%;
	}

	.trends_section:nth-child(n+3) {
		margin-top: 5px;
	}


	.trends_category {
		font-size: 14px;
	}

	.trends_title {
		font-size: 17px;
		line-height: 22px;
	}

	.wrap_section {
		padding: 0 30px;
	}

	.post_item {
		flex-direction: column;
	}

	.post_article {
		width: 100%;
		margin-left: 0;
	}

	.post_aritcle_category {
		margin-top: 10px;
	}

	.article_title {
		font-size: 17px;
	}

	.shop {
		flex-wrap: wrap;
	}

	.shop_section {
		width: calc(50% - 15px);
	}

	.shop_content {
		width: calc(100% - 45px);
	}

	.shop_content_custom {
		font-size: 15px;
	}

	.contents_shop_section {
		padding: 0 30px;
	}

	.article_footer {
		padding: 0 30px;
	}

}

/* tablet */


/* mobile */

@media (max-width: 640px) and (orientation: landscape) {
	.trends {
		display: flex;
		flex-wrap: wrap;
	}

	.trends_section {
		width: 49.6%;
	}

}


@media (max-width: 640px) {
	.page {
		min-width: 344px;
	}

	.header {
		background-image: url('https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/banner-mobile.jpg');
		min-height: 658px;
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.header_title {
		max-width: 340px;
		font-size: 25px;
		line-height: 35px;
		margin: 10px auto;
	}

	.logo {
		width: 260px;
	}

	.container_menu {
		position: absolute;
		top: 40px;
		right: 20px;
	}

	.content_title {
		margin-bottom: 40px;
	}

	.content_title_item {
		font-size: 17px;
	}

	.content_title::after {
		top: -17px;
	}

	.trends {
		flex-direction: column;
	}

	.trends_title {
		font-size: 15px;
		line-height: 19px;
	}

	.trends_section {
		width: 100%;
	}

	.trends_section:nth-child(n+2) {
		margin-top: 5px;
	}

	.wrap_section {
		flex-direction: column;
		align-items: center;
		padding: 0 15px;
	}

	.post {
		margin: 0;
	}

	.post_item_img {
		width: 100%;
	}

	.post_article_header {
		margin-bottom: 20px;
	}

	.contents_shop_section {
		padding: 0 15px;
	}

	.aside_bar {
		width: 100%;
		margin-top: 60px;
	}

	.aside_post {
		width: 100%;
	}

	.aside_post_name {
		font-size: 17px;
	}

	.shop_section {
		width: 100%;
	}

	.article_footer {
		padding: 0 15px;
	}

	.article_title {
		font-size: 17px;
		margin: 5px 0 20px;
	}

}

/* mobile */


/* mobile first */